{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container mt-4 custom-margin1 header-container">
    <div class="text-center mb-4">
        <h1 class="product-title text-white">User reviews</h1> <!-- Center the text -->
    </div>
    <div class="row">
        {% for review in reviews %}
            <div class="col-md-4 mb-3"> <!-- Adjusted to 4 columns for card layout -->
                <div class="card card1 h-100"> <!-- Card structure for each review -->
                    <div class="card-body">
                        <h5 class="card-title">
                            {% if review.product.image %}
                                <img src="{{ review.product.image.url }}" alt="{{ review.product.name }}" class="img-thumbnail" style="width: 50px; height: auto; margin-right: 10px;">
                            {% endif %}
                            <a href="{% url 'product_detail' review.product.id %}">{{ review.product.name }}</a>
                        </h5>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td><strong>Rating:</strong></td>
                                    <td>{{ review.rating }}</td>
                                </tr>
                                <tr>
                                    <td><strong>Comment:</strong></td>
                                    <td>{{ review.comment }}</td>
                                </tr>
                                <tr>
                                    <td><strong>Reviewed By:</strong></td>
                                    <td>{{ review.user.username }}</td>
                                </tr>
                                <tr>
                                    <td><strong>Date:</strong></td>
                                    <td>{{ review.created_at }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="col-12">
                <div class="alert alert-info text-center">No reviews available.</div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}