{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
    <div class="container h-100">
        <div class="row h-100" style="margin: 100px;">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-5 text-black">
                    Forbidden
                </h1>
                <p class="my-5 text-center">You don't have permission to access this page.</p>
                <div class="my-2">
                    <h4>
                        <a href="{% url 'products' %}" 
                            class="category-badge text-decoration-none">
                            <span class="p-2 mt-2 badge badge-white text-black rounded-pill border border-dark">Return to Shop</span>
                        </a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}