#profile-update-form .form-control {
    color: #000;
}

#profile-update-form input::placeholder {
    color: #aab7c4;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #000;
}

#id_default_country option:first-child {
    color: #aab7c4;
}

.order-history {
    max-height: 416px; /* height of profile form + submit button */
    overflow-y: auto;
}


.card1 {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.55); /* Adjust the alpha for transparency */
    border-radius: 12px;
    border: 1px solid rgba(255, 0, 0, 0.6);
    box-shadow: 0 0 10px 5px rgba(255, 0, 0, 0.2);
    margin-bottom: 10px;
    padding-top: 10px;
}

.hr2{
    width: 100%;
    border: 0;
    border-bottom: 2px solid #f30000;

}