html {
    height: 100%;

}

body {
    background: url('/media/swbg.png') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Lato';
    min-height: 100vh;
    padding-top: 70px; /* Adjust this value according to your navbar height */
}

.custom-margin1{
    padding-top: 180px; /* Adjust this value according to your navbar height */
    min-height: 100vh;
}

.custom-margin2{
    padding-top: 20px; /* Adjust this value according to your navbar height */
    min-height: 100vh;
}

.custom-margin3{
    padding-top: 230px; /* Adjust this value according to your navbar height */
    min-height: 100vh;
}

.contact {
    font-size: 18px; /* Increases font size */
    color: #333333; /* Dark gray text for better readability */
    background-color: rgba(255, 255, 255, 0.8); /* Slightly transparent white background */
    padding: 20px; /* Adds padding around the text */
    border-radius: 8px; /* Rounded corners for a smooth look */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    max-width: 80%; /* Limit width to make it easier to read */
    margin: 0 auto; /* Center the block element */
}

/* Optionally, if you want to keep text centered */
.contact {
    text-align: center; /* Keeps the text centered if needed */
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.product-title {

    background-color: rgb(30, 30, 30); /* Dark background for the product section */
    border-radius: 8px; /* Round the corners */
    box-shadow: 0 0 10px 5px rgba(255, 0, 0, 0.6);
    padding: 10px; /* Add padding to create space around the text */
    color: white;
    display: inline-block;
}

#delivery-banner {
    background-color: rgb(24, 24, 24); /* Background color */
    color: #ffffff; 
    box-shadow: 0 0 10px 5px rgba(255, 0, 0, 0.6);
}

.logo {
    max-width: 300px; /* Adjust the size of your logo */
    max-height: 300px; /* Automatically adjust height */
    display: block;
     margin: 0 left; /*Center the logo horizontally */
}

/* Optional: Add some padding to the top */

.logo-font {
    text-transform: uppercase;
}

.cart {
    position: relative; /* Position relative for absolute elements inside */
    padding: 10px; /* Add padding for better spacing */
    color: white; /* Default text color */
    transition: color 0.3s ease, transform 0.3s ease; /* Smooth transition for hover effects */
}

/* Change color on hover */
.cart:hover {
    color: #d30101; /* Change color to gold on hover */
    transform: scale(1.1); /* Slightly enlarge the icon on hover */
}

/* Cart Icon */
.cart i {
    font-size: 24px; /* Adjust icon size */
    transition: transform 0.3s ease; /* Smooth transition for icon scale */
}

/* Text under the icon */
.cart p {
    margin: 0; /* Remove default margin */
    font-size: 0.85rem; /* Adjust font size */
    font-weight: 500; /* Make text a bit bolder */
}

/* Optional: Add a small bubble to indicate item count */
.cart::after {
    content: attr(data-count); /* Use a data attribute for item count */
    position: absolute; /* Position it relative to the cart */
    top: -5px; /* Position above the icon */
    right: -10px; /* Position to the right */
    color: white; /* White text color */
    border-radius: 50%; /* Make it circular */
    padding: 2px 6px; /* Add some padding */
    font-size: 0.7rem; /* Smaller font size */
    display: none; /* Initially hidden */
}

.search-bar {
    border: 5px solid #ccc; /* Add a light border around the search bar */
    border-radius: 5px; /* Slightly rounded corners */
    box-shadow: 0 0 10px 5px rgba(255, 0, 0, 0.6);
    transition: border-color 0.3s ease; /* Smooth transition for border color */
}

/* Input Field Styles */
.search-bar input[type="text"] {
    background: rgb(rgb(201, 214, 212));
    border: none; 
    border-radius: 5px 0 0 5px; 
    padding: 10px; 
    font-size: 1rem; 
}

/* Change border color on focus */
.search-bar input[type="text"]:focus {
    outline: none;
    border-color: #010000;
}

/* Button Styles */
.search-bar .btn {
    border-radius: 0 5px 5px 0; 
    background-color: #00070f; 
    color: rgb(203, 0, 0);
    transition: background-color 0.3s ease;
}

/* Change button color on hover */
.search-bar .btn:hover {
    background-color: #970000; 
    border-color: #6c0f07; 
}


.main-logo-link {
    width: fit-content;
}

.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.button {
    min-width: 300px;
    
    min-height: 60px;
    display: inline-flex;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #000000;
    background: #000000;
  background: linear-gradient(90deg, rgb(235, 111, 109) 0%, rgb(203, 6, 6) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(133, 1, 1, 0.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }
  
.button::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #ac0000;
    box-shadow: 0 0 60px rgba(99, 0, 0, 0.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
.button:hover, 
.button:focus {
    color: #313133;
    transform: translateY(-6px);
    text-decoration: none;
}
  
.button:hover::before, 
.button:focus::before {
    opacity: 1;
  }
  
.button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #d51d04;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
}

.button:hover::after, 
.button:focus::after {
    animation: none;
    display: none;
}
  
@keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
}
.btn-black{
    background: #000;
    color: white;

}

.btn1 {
    border-radius: 0.5rem;
    padding: 10px 20px;
    font-size: 1rem; 
    text-transform: uppercase;
    transition: background-color 0.3s, transform 0.2s;
    color: #fff;
    margin: 5px;
    border: 2px solid #fff; /* White border */
    background: #151313;
}

.btn2 {
    background-color: transparent; /* Transparent background */
    color: #fff; /* White text */
    border: 2px solid #fff; /* White border */
    padding: 10px 20px; /* Padding for button */
    font-size: 1rem; /* Font size */
    text-transform: uppercase; /* Uppercase text */
    border-radius: 0.5rem; /* Rounded corners */
    transition: background-color 0.3s, color 0.3s, transform 0.2s; /* Smooth transition */
    cursor: pointer; /* Pointer cursor */
    margin: 5px;
}

.btn2:hover {
    background-color: rgb(165, 0, 0); /* Light background effect on hover */
    color: #000000; /* Change text color to black on hover */
    transform: scale(1.05); /* Slightly enlarge the button on hover */
    text-decoration: none;
}

.btn2:focus {
    outline: none; /* Remove default focus outline */
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5); /* Custom focus effect */
}



.btn1:hover { /* Hover effect for Add Product button */
    background-color: #640000; /* Darker green on hover */
    transform: scale(1.05); /* Slightly enlarge the button on hover */
    text-decoration: none;
    color: #f7ff0f;
}

/* Optionally add focus styles for both buttons */
.btn1:focus {
    outline: none; /* Remove default focus outline */
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5); /* Custom focus effect */
    text-decoration: none;
}

/* .form-control {
    border-radius: 30px; 
    border: 1px solid #ccc;
    padding: 10px 15px; 
    transition: background-color 0.3s ease, border-color 0.3s ease; 
    background-color: rgba(255, 255, 255, 0.8); 
    color: white; 
} */


.btn-file {
    position: relative;
    overflow: hidden; 
    display: inline-block; 
    background-color: rgba(255, 0, 0, 0.2);
    color: white; 
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1.2rem
}

/* Hide the actual file input but keep it accessible */
input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0; /* Make input invisible */
    cursor: pointer; /* Keep pointer cursor */
    
}

/* Optionally, you can style hover and active states */
.btn-file:hover {
    background-color: rgba(0, 0, 0, 0.6); /* Change color on hover */
    color: white; 
}

.btn-file:active {
    background-color: rgba(255, 255, 0, 0.6); /* Change color on active */
}

/* Focus styles for accessibility */
.btn-file:focus {
    outline: 2px solid rgba(255, 255, 0, 0.8); /* Change outline color on focus */
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.text-background {
    background-color: rgba(255, 255, 255, 0.3); 
    padding: 20px; 
    border-radius: 10px; 
    display: inline-block; 
}

.navbar {
    justify-content: center;
}

.bg-black {
    background: rgb(24, 24, 24) !important;
}
.overlay {
    
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;

}

/* a.category-badge > span.badge:hover {
    background: #000 !important;
    color: azure !important;
} */

.category-badge {
    text-decoration: none; /* Ensure no underline */
}

.category-badge span {
    display: inline-block; /* Allow padding and margin to work */
    background-color: rgb(24, 24, 24); /* Background color */
    color: white; /* Text color */
    border-radius: 4px; /* Slightly rounded corners */
    padding: 10px 15px; /* Padding for the badge */
    transition: all 0.3s ease; /* Smooth transition for hover effects */
    box-shadow: 0 0 10px 5px rgba(83, 4, 219, 0.6);
    margin-top: 10px;
}

.category-badge span:hover {
    background-color: rgb(0, 0, 0); /* Darker background on hover */
    color: white;
    transform: translateY(-2px); /* Slight lift effect on hover */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Darker shadow on hover */
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: azure;
}

.btt-button:hover {
    background-color: rgb(180, 3, 0);
}

.btn-link {
    cursor: pointer;
}

/* Decrement button (-) styles */
button[id^="decrement-"] {
    background-color: #f44336; /* Red color */
    color: white;
    border-color: #f44336;
}

button[id^="decrement-"]:hover {
    background-color: #9d1212; /* Darker red on hover */
    border-color: #871818;
}

/* Increment button (+) styles */
button[id^="increment-"] {
    background-color: #4CAF50; /* Green color */
    color: white;
    border-color: #4CAF50;
}

button[id^="increment-"]:hover {
    background-color: #08600b; /* Darker green on hover */
    border-color: #388E3C;
}

.message-container {
    position: fixed;
    top: 92px;
    right: 160px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}
/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

#all-products-link {
    position: relative;
    color: white; /* Default color */
    transition: color 0.5s; /* Smooth transition for color change */
}

#all-products-link:hover {
    color: #ff0000; /* Change this to your desired hover color */
}

#all-products-link span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    border-bottom: 5px solid rgb(252, 231, 0);
    border-radius: 15px;
    transform: scale(0) translateY(50px);
    transition: .5s;
}

#all-products-link:hover span {
    transform: scale(1) translateY(0px);
    opacity: 1;
}

.dropdown-menu a:hover{
    color: red;
}

.form-control {
    border-radius: 15px; /* Rounded corners for input fields */
    border: 1px solid #ccc; /* Light gray border */
    padding: 0px 10px; /* Padding for input fields */
    transition: background-color 0.3s ease, border-color 0.3s ease; /* Smooth transition */
    background-color: rgba(255, 255, 255, 0.8); /* Slightly transparent white background */
    color: black;
}

/* Focus styling for input fields */
.form-control:focus {
    background-color: #ff9f9f; /* Creamy background color on focus */
    border-color: #ff7d7d; /* Change border color on focus */
    box-shadow: 0 0 5px rgba(255, 99, 99, 0.5); /* Subtle shadow on focus */
}

/* Optional styling for Image Field */
.custom-file-input {
    border-radius: 30px; /* Ensure custom file input is rounded */
}

label {
    color: white; /* Change the text color of labels to white */
    font-weight: bold; /* Optional: make labels bold for better visibility */
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

.icon-white {
    color: white; /* Set the color to white */
}

.navbar-toggler {
    background-color: white; /* Change this to your desired color */
}

.table {
    width: 100%; /* Full width for table */
    margin-top: 10px; /* Space above the table */
}

.table td {
    padding: 8px; /* Padding for table cells */
    color: white; /* Set table text color to white */
}

.card-title a {
    color: white; /* Set product name link color to white */
}

.card-title a:hover {
    color: #ffc107; /* Optional: Change link color on hover */
    text-decoration: none;
}

.table img {
    vertical-align: middle; /* Align image vertically */
}

.margin0{
    margin-top: 3px;
}

.dotted {
    border: none; /* Remove the default border */
    border-top: 1px dotted white; /* Create a white dotted line */
    margin: 20px 0; /* Optional: add some spacing */
}

.card-img-top {
    border-radius: 20px; /* Adjust the value for more or less rounding */

}

.product-name {
    text-align: center;
    flex: 1; /* Allows it to grow and fill available space */
}
/* -------------------------------- Media Queries */
/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 168px;
    }

    body {
        height: calc(100vh - 168px);
    }
}