html {
    height: 100%;

}

body {
    background: url('/media/swbg.png') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #0e0e0e;
    font-family: 'Lato';
    min-height: 100vh;
    padding-top: 70px;
}

.custom-margin1{
    padding-top: 180px;
    min-height: 100vh;
}

.custom-margin2{
    padding-top: 20px;
    min-height: 100vh;
}

.custom-margin3{
    padding-top:230px;
    min-height: 100vh;
}

.contact {
    font-size: 18px;
    color: #333333;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    max-width: 80%; 
    margin: 0 auto;
}

.contact {
    text-align: center;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.product-title {

    background-color: rgb(30, 30, 30);
    border-radius: 8px; 
    box-shadow: 0 0 10px 5px rgba(255, 0, 0, 0.6);
    padding: 10px; 
    color: white;
    display: inline-block;
}

#delivery-banner {
    background-color: rgb(24, 24, 24);
    color: #ffffff; 
    box-shadow: 0 0 10px 5px rgba(255, 0, 0, 0.6);
}

.logo {
    max-width: 300px; 
    max-height: 300px; 
    display: block;
     margin: 0 left; 
}


.logo-font {
    text-transform: uppercase;
}

.cart {
    position: relative; 
    padding: 10px; 
    color: white;
    transition: color 0.3s ease, transform 0.3s ease; 
}

/* Change color on hover */
.cart:hover {
    color: #d30101;
    transform: scale(1.1);
}

/* Cart Icon */
.cart i {
    font-size: 24px; /* Adjust icon size */
    transition: transform 0.3s ease;
}

/* Text under the icon */
.cart p {
    margin: 0; 
    font-size: 0.85rem; 
    font-weight: 500; 
}

/* Optional: Add a small bubble to indicate item count */
.cart::after {
    content: attr(data-count); /* Use a data attribute for item count */
    position: absolute; /* Position it relative to the cart */
    top: -5px; /* Position above the icon */
    right: -10px; /* Position to the right */
    color: white; /* White text color */
    border-radius: 50%; /* Make it circular */
    padding: 2px 6px; /* Add some padding */
    font-size: 0.7rem; /* Smaller font size */
    display: none; /* Initially hidden */
}

.search-bar {
    border: 5px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px 5px rgba(255, 0, 0, 0.6);
    transition: border-color 0.3s ease; 
}

/* Input Field Styles */
.search-bar input[type="text"] {
    background: rgb(rgb(201, 214, 212));
    border: none; 
    border-radius: 5px 0 0 5px; 
    padding: 10px; 
    font-size: 1rem; 
}

/* Change border color on focus */
.search-bar input[type="text"]:focus {
    outline: none;
    border-color: #010000;
}

/* Button Styles */
.search-bar .btn {
    border-radius: 0 5px 5px 0; 
    background-color: #0f0e00; 
    color: rgb(203, 0, 0);
    transition: background-color 0.3s ease;
}

/* Change button color on hover */
.search-bar .btn:hover {
    background-color: #970000; 
    border-color: #6c0f07; 
}


.main-logo-link {
    width: fit-content;
}

.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.button {
    min-width: 300px;
    
    min-height: 60px;
    display: inline-flex;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #000000;
    background: #000000;
  background: linear-gradient(90deg, rgb(235, 111, 109) 0%, rgb(203, 6, 6) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(133, 1, 1, 0.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }
  
.button::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #ac0000;
    box-shadow: 0 0 60px rgba(99, 0, 0, 0.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
.button:hover, 
.button:focus {
    color: #313133;
    transform: translateY(-6px);
    text-decoration: none;
}
  
.button:hover::before, 
.button:focus::before {
    opacity: 1;
  }
  
.button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #d51d04;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
}

.button:hover::after, 
.button:focus::after {
    animation: none;
    display: none;
}
  
@keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
}
.btn-black{
    background: #000;
    color: white;
}

.btn1 {
    border-radius: 0.5rem;
    padding: 10px 20px;
    font-size: 1rem; 
    text-transform: uppercase;
    transition: background-color 0.3s, transform 0.2s;
    color: #fff;
    margin: 5px;
    border: 2px solid #fff; 
    background: #151313;
}

.btn2 {
    background-color: transparent; 
    color: #fff; 
    border: 2px solid #fff; 
    padding: 10px 20px;
    font-size: 1rem;
    text-transform: uppercase; 
    border-radius: 0.5rem;
    transition: background-color 0.3s, color 0.3s, transform 0.2s;
    cursor: pointer;
    margin: 5px;
}

.btn2:hover {
    background-color: rgb(165, 0, 0); 
    color: #000000; 
    transform: scale(.95);
    text-decoration: none;
}

.btn2:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5);
}



.btn1:hover {
    background-color: rgb(165, 0, 0); 
    transform: scale(0.95);
    text-decoration: none;
    color: #f7ff0f;
}


.btn1:focus {
    outline: none; 
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5);
    text-decoration: none;
}

.btn3 {
    background-color: transparent; 
    color: #fff; 
    border: 2px solid #fff; 
    padding: 5px 10px;
    font-size: 10px;
    text-transform: uppercase; 
    border-radius: 0.5rem;
    transition: background-color 0.3s, color 0.3s, transform 0.2s;
    cursor: pointer;
    margin: 5px;
}

.btn3:hover {
    background: linear-gradient(90deg, rgb(100, 0, 0), rgb(248, 219, 0)); 
    color: #ffffff; 
    transform: scale(.95);
    text-decoration: none;
    border: 2px solid #000000;
}

.btn-file {
    position: relative;
    overflow: hidden; 
    display: inline-block; 
    background-color: rgba(255, 0, 0, 0.2);
    color: white; 
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1.2rem
}

/* Hide the actual file input but keep it accessible */
input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0; /* Make input invisible */
    cursor: pointer; /* Keep pointer cursor */
    
}

/* Optionally, you can style hover and active states */
.btn-file:hover {
    background-color: rgba(0, 0, 0, 0.6); /* Change color on hover */
    color: white; 
}

.btn-file:active {
    background-color: rgba(255, 255, 0, 0.6); /* Change color on active */
}

/* Focus styles for accessibility */
.btn-file:focus {
    outline: 2px solid rgba(255, 255, 0, 0.8); /* Change outline color on focus */
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.text-background {
    background-color: rgba(255, 255, 255, 0.3); 
    padding: 20px; 
    border-radius: 10px; 
    display: inline-block; 
}

.navbar {
    justify-content: center;
}

.bg-black {
    background: rgb(24, 24, 24) !important;
}
.overlay {
    
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;

}

.category-badge {
    text-decoration: none; 
}

.category-badge span {
    display: inline-block; 
    background-color: rgb(24, 24, 24); 
    color: white; 
    border-radius: 4px; 
    padding: 10px 15px;
    transition: all 0.3s ease; 
    box-shadow: 0 0 10px 5px rgba(83, 4, 219, 0.6);
    margin-top: 10px;
}

.category-badge span:hover {
    background-color: rgb(0, 0, 0);
    color: white;
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: azure;
    z-index: 999;
}

.btt-button:hover {
    background-color: rgb(180, 3, 0);
}

.btn-link {
    cursor: pointer;
}

/* Decrement button (-) styles */
button[id^="decrement-"] {
    background-color: #f44336; 
    color: white;
    border-color: #f44336;
}

button[id^="decrement-"]:hover {
    background-color: #9d1212;
    border-color: #871818;
}

/* Increment button (+) styles */
button[id^="increment-"] {
    background-color: #4CAF50;
    color: white;
    border-color: #4CAF50;
}

button[id^="increment-"]:hover {
    background-color: #08600b;
    border-color: #388E3C;
}

.message-container {
    position: fixed;
    top: 92px;
    right: 215px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}
/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

.all-products-link {
    position: relative;
    color: white !important;
    transition: color 0.5s; /* Smooth transition for color change */
}

.all-products-link:hover {
    color: #ff0000 !important; /* Change this to your desired hover color */
}

.all-products-link span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    border-bottom: 5px solid rgb(252, 231, 0);
    border-radius: 15px;
    transform: scale(0) translateY(50px);
    transition: .5s;
}

.all-products-link:hover span {
    transform: scale(1) translateY(0px);
    opacity: 1;
}

.dropdown-menu a:hover{
    color: red;
}

.profile-form-input.form-control {
    border-radius: 15px !important;
    padding: 0px 3px; /* Padding for input fields */
    transition: background-color 0.3s ease, border-color 0.3s ease; /* Smooth transition */
    background-color: rgba(255, 255, 255, 0.8); 
    color: black;
    pointer-events: auto;
    opacity: 1; 
}

.profile-form-input.form-select {
    border-radius: 15px !important;
    width: 100%;
    padding: 0px 3px; /* Padding for input fields */
    transition: background-color 0.3s ease, border-color 0.3s ease; /* Smooth transition */
    background-color: rgba(255, 255, 255, 0.8); 
    color: black;
    font-size: 16px;
    pointer-events: auto;
    opacity: 1; 
}

/* Focus styling for input fields */
.form-control:focus {
    background-color: white; 
    border-color: #070101; 
    box-shadow: 0 0 5px rgba(11, 7, 7, 0.5);/
}


label {
    color: white; 
    font-weight: bold;
}

.card2 {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(84, 133, 224, 0.1);
    border-radius: 15px; /* Rounded corners */
    padding: 20px; /* Padding inside the card */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Subtle shadow effect */
    margin: 20px auto; /* Center the card with margin */
    max-width: 400px; /* Maximum width of the card */
    border: 1px solid rgba(0, 0, 0, 0.1); /* Light border for definition */
}

.card2 h2 {
    text-align: center; /* Center the heading */
}

.card2 form {
    margin-top: 10px; /* Space above the form */
}

.card2 .btn1, .card2 .btn2 {
    width: 100%; 
    margin-top: 10px; /* Space between buttons */
    padding: 10px; /* Padding inside buttons */
    border-radius: 5px; /* Rounded corners for buttons */
}

.card2 input.form-control {
    border-radius: 5px; 
    border: 1px solid #ccc; 
    padding: 10px;
    transition: border-color 0.3s;
}

.card2 input.form-control:focus {
    border-color: #007bff; /* Change border color on focus */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Optional: Add shadow on focus */
}
/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 15px;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #6a0101;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

.icon-white {
    color: white; 
}

.navbar-toggler {
    background-color: white; 
}

.table {
    width: 100%; 
    margin-top: 10px; 
}

.table td {
    padding: 8px; 
    color: white; 
}

.card-title a {
    color: white; 
}

.card-title a:hover {
    color: #ffc107;
    text-decoration: none;
}

.table img {
    vertical-align: middle;
}

.margin0{
    margin-top: 3px;
}



.card {
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s ease;
}

.card-img-top1 {
    height: auto;
    width: 100%;
    object-fit: cover;
    border-bottom: 1px solid #ccc;
}

.card-footer {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 15px;
    background-color: #000;
}

.card-footer p, .card-footer small, .card-footer a {
    color: #fff;
    margin: 0;
}

.card-footer .lead {
    font-size: 1.25rem;
}

.card-footer .d-flex {
    justify-content: space-between;
    align-items: center;
}

.card-footer a {
    color: #fff;
    text-decoration: none;
}

.card-footer a:hover {
    text-decoration: none;
    color: rgb(0, 129, 9);
}

/* Optional hover effect */
.card:hover {
    transform: translateY(-5px);
}


.dotted {
    border: none; /* Remove the default border */
    border-top: 1px dotted white; /* Create a white dotted line */
    margin: 20px 0; /* Optional: add some spacing */
}

.product-name {
    text-align: center;
    flex: 1; 
}

#id_password1_helptext{
    display: none;
}

.stripe-style-input {
    padding: 10px; 
    font-size: 16px;
    background-color: #f5f5f5; 
}


.stripe-style-input.form-control {
    background-color: #f0f0f0;
    border-radius: 15px;
    font-size: 16px;
}

.stripe-style-input.form-select {
    background-color: #f0f0f0;
    width: 100%;
    border-radius: 15px;
    font-size: 16px;
}


@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 198px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 168px;
    }

    body {
        background: rgb(5, 4, 28);
        background: repeating-linear-gradient(180deg, rgb(0, 0, 0), rgb(70, 0, 0)) fixed;
        height: calc(100vh - 168px);
    }

@media (max-width: 380px) {
        .header-container {
            padding-top: 294px;
        }

        .table thead {
            display: none;
        }
    }
}