{% load static %}
{% block extra_css %}
{% endblock %}

<footer>
    <div class="row1">
        <div class="col">
            <a href="{% url 'home' %}">
                <img src="{{ MEDIA_URL }}galaxy.png" alt="Logo" class="logo1">
            </a>
            <p>We are happy you decided to shop with us!</p>
        </div>
        <div class="col">
            <h3>Where to find us <div class="underline"><span></span></div></h3>
            <p>Ireland</p>
            <p>Right Street, 2555</p>
            <p class="email-id">Email: test@test.test</p>
            <h5>Phone: 123456789</h5>
        </div>
        <div class="col">
            <h3>Links <div class="underline"><span></span></div></h3>
            <ul>
                <li><a href="{% url 'contact' %}"><i class="fas fa-envelope"></i> Contact Us</a></li>
                <li><a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook"></i> Facebook</a></li>
                <li><a href="https://twitter.com/" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i> Twitter</a></li>
                <li><a href="https://www.youtube.com/" target="_blank" rel="noopener noreferrer"><i class="fab fa-youtube"></i> YouTube</a></li>
            </ul>
        </div>
        <div class="col">
            <h3>Newsletter: <div class="underline"><span></span></div></h3>
            <form action="{% url 'subscribe' %}" class="subs" method="post">
                {% csrf_token %}
                <i class="far fa-solid fa-envelope big"></i>
                <input type="email" name="email" placeholder="Enter your email" required>
                <button type="submit"><i class="fa-solid fa-arrow-right"></i></button>
            </form>
        </div>
        <div class="col"></div>
    </div>
    <hr>
    <p class="copy">Created by your lovely developer</p>
</footer>