{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block inner_content %}
<div class="custom-margin2">
    <hr>
    <h2 class="logo-font mb-4 product-title">{% trans "Password Reset" %}</h2>
    <hr>
    <div class="card1">
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p class="text-white text-center">{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
</div>
</div>
{% endblock %}
