{% extends "base.html" %}


{% block head_title %}{% trans "Page Not Found" %}{% endblock %}

{% block inner_content %}
<div class="custom-margin2">
    <hr>
    <h2 class="logo-font mb-4 product-title">{% trans "404 - Page Not Found" %}</h2>
    <hr>
    
    <div class="card1 text-center">
        <h3 class="text-white">{% trans "Oops! The page you're looking for doesn't exist." %}</h3>
        <p class="text-muted mb-4">{% trans "It might have been removed, or you may have entered an incorrect URL." %}</p>
        
        <a class="btn2 btn-outline-black rounded-0" href="{% url 'home' %}">{% trans "Back to Home" %}</a>
    </div>
</div>
{% endblock %}