{% extends "base.html" %}

{% block content %}
<div class="overlay"></div>
<div class="container text-center custom-margin3 header-container">
    <h2 class="mb-4 product-title">Create a New Newsletter</h2>
    <div class="card1 shadow-sm">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="mb-3">
                    {{ form.title.label_tag }}
                    {{ form.title }}
                    {% for error in form.title.errors %}
                        <div class="text-danger">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="mb-3">
                    {{ form.content.label_tag }}
                    {{ form.content }}
                    {% for error in form.content.errors %}
                        <div class="text-danger">{{ error }}</div>
                    {% endfor %}
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}